@charset "UTF-8";

@font-face {
  font-family: "hody-icons-animated";
  src:url("../fonts/hody-icons-animated.eot");
  src:url("../fonts/hody-icons-animated.eot?#iefix") format("embedded-opentype"),
    url("../fonts/hody-icons-animated.woff") format("woff"),
    url("../fonts/hody-icons-animated.ttf") format("truetype"),
    url("../fonts/hody-icons-animated.svg#hody-icons-animated") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="hca-"]:before,
[class*=" hca-"]:before {
  font-family: "hody-icons-animated" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hca-accelerator:before {
  content: "\61";
}
.hca-alarm:before {
  content: "\62";
}
.hca-anchor:before {
  content: "\63";
}
.hca-anticlockwise:before {
  content: "\64";
}
.hca-archive:before {
  content: "\65";
}
.hca-archive-full:before {
  content: "\66";
}
.hca-bag:before {
  content: "\6b";
}
.hca-bag-check:before {
  content: "\6c";
}
.hca-bag-cloud:before {
  content: "\6d";
}
.hca-bag-download:before {
  content: "\6e";
}
.hca-bag-minus:before {
  content: "\6f";
}
.hca-bag-plus:before {
  content: "\70";
}
.hca-bag-refresh:before {
  content: "\71";
}
.hca-bag-remove:before {
  content: "\72";
}
.hca-bag-search:before {
  content: "\73";
}
.hca-bag-upload:before {
  content: "\74";
}
.hca-ban:before {
  content: "\75";
}
.hca-banknote:before {
  content: "\76";
}
.hca-banknotes:before {
  content: "\77";
}
.hca-basket:before {
  content: "\78";
}
.hca-basket-check:before {
  content: "\79";
}
.hca-basket-cloud:before {
  content: "\7a";
}
.hca-basket-download:before {
  content: "\41";
}
.hca-basket-minus:before {
  content: "\42";
}
.hca-basket-plus:before {
  content: "\43";
}
.hca-basket-refresh:before {
  content: "\44";
}
.hca-basket-remove:before {
  content: "\45";
}
.hca-basket-search:before {
  content: "\46";
}
.hca-basket-upload:before {
  content: "\47";
}
.hca-bath:before {
  content: "\48";
}
.hca-battery-charge:before {
  content: "\49";
}
.hca-battery-empty:before {
  content: "\4a";
}
.hca-battery-full:before {
  content: "\4b";
}
.hca-battery-half:before {
  content: "\4c";
}
.hca-beginning-button:before {
  content: "\4d";
}
.hca-bell:before {
  content: "\4e";
}
.hca-bolt:before {
  content: "\4f";
}
.hca-book:before {
  content: "\50";
}
.hca-book-pen:before {
  content: "\51";
}
.hca-book-pencil:before {
  content: "\52";
}
.hca-bookmark:before {
  content: "\53";
}
.hca-calculator:before {
  content: "\54";
}
.hca-calendar:before {
  content: "\55";
}
.hca-cards-diamonds:before {
  content: "\56";
}
.hca-cards-hearts:before {
  content: "\57";
}
.hca-cart:before {
  content: "\58";
}
.hca-cart-check:before {
  content: "\59";
}
.hca-cart-cloud:before {
  content: "\5a";
}
.hca-cart-content:before {
  content: "\30";
}
.hca-cart-download:before {
  content: "\31";
}
.hca-cart-minus:before {
  content: "\32";
}
.hca-cart-plus:before {
  content: "\33";
}
.hca-cart-refresh:before {
  content: "\34";
}
.hca-cart-remove:before {
  content: "\35";
}
.hca-cart-search:before {
  content: "\36";
}
.hca-cart-upload:before {
  content: "\37";
}
.hca-case:before {
  content: "\38";
}
.hca-cd:before {
  content: "\39";
}
.hca-cent:before {
  content: "\21";
}
.hca-chronometer:before {
  content: "\22";
}
.hca-clessidre:before {
  content: "\23";
}
.hca-clock:before {
  content: "\24";
}
.hca-clockwise:before {
  content: "\25";
}
.hca-cloud:before {
  content: "\26";
}
.hca-clubs:before {
  content: "\27";
}
.hca-colon:before {
  content: "\28";
}
.hca-compass:before {
  content: "\29";
}
.hca-creditcard:before {
  content: "\2a";
}
.hca-cup:before {
  content: "\2b";
}
.hca-diamond:before {
  content: "\2c";
}
.hca-diamonds:before {
  content: "\2d";
}
.hca-diapason:before {
  content: "\2e";
}
.hca-display:before {
  content: "\2f";
}
.hca-dollar:before {
  content: "\3a";
}
.hca-download:before {
  content: "\3b";
}
.hca-eject-button:before {
  content: "\3c";
}
.hca-end-button:before {
  content: "\3d";
}
.hca-euro:before {
  content: "\3e";
}
.hca-exclamation:before {
  content: "\3f";
}
.hca-eye:before {
  content: "\40";
}
.hca-eye-closed:before {
  content: "\5b";
}
.hca-fastforward-button:before {
  content: "\5d";
}
.hca-female:before {
  content: "\5e";
}
.hca-flag:before {
  content: "\5f";
}
.hca-flag-alt:before {
  content: "\60";
}
.hca-floppydisk:before {
  content: "\7b";
}
.hca-folder:before {
  content: "\7c";
}
.hca-folder-multiple:before {
  content: "\7d";
}
.hca-franc:before {
  content: "\7e";
}
.hca-gear:before {
  content: "\5c";
}
.hca-geolocalize:before {
  content: "\e000";
}
.hca-geolocalize-alt:before {
  content: "\e001";
}
.hca-gift:before {
  content: "\e002";
}
.hca-globe:before {
  content: "\e003";
}
.hca-graph:before {
  content: "\e004";
}
.hca-graph-2:before {
  content: "\e005";
}
.hca-graph-3:before {
  content: "\e006";
}
.hca-graph-decrease:before {
  content: "\e007";
}
.hca-graph-increase:before {
  content: "\e008";
}
.hca-guarani:before {
  content: "\e009";
}
.hca-gunsight:before {
  content: "\e00a";
}
.hca-hammer:before {
  content: "\e00b";
}
.hca-headphones:before {
  content: "\e00c";
}
.hca-headset:before {
  content: "\e00d";
}
.hca-heart:before {
  content: "\e00e";
}
.hca-heart-broken:before {
  content: "\e00f";
}
.hca-helm:before {
  content: "\e010";
}
.hca-home:before {
  content: "\e011";
}
.hca-info:before {
  content: "\e012";
}
.hca-ipod:before {
  content: "\e013";
}
.hca-joypad:before {
  content: "\e014";
}
.hca-key:before {
  content: "\e015";
}
.hca-keyboard:before {
  content: "\e016";
}
.hca-kips:before {
  content: "\e017";
}
.hca-laptop:before {
  content: "\e018";
}
.hca-layers:before {
  content: "\e019";
}
.hca-layers-alt:before {
  content: "\e01a";
}
.hca-life-buoy:before {
  content: "\e01b";
}
.hca-lightbulb:before {
  content: "\e01c";
}
.hca-lightning:before {
  content: "\e01d";
}
.hca-link:before {
  content: "\e01e";
}
.hca-lira:before {
  content: "\e01f";
}
.hca-lock:before {
  content: "\e020";
}
.hca-lock-open:before {
  content: "\e021";
}
.hca-loudspeaker:before {
  content: "\e022";
}
.hca-magic-mouse:before {
  content: "\e023";
}
.hca-magnifier:before {
  content: "\e024";
}
.hca-magnifier-minus:before {
  content: "\e025";
}
.hca-magnifier-plus:before {
  content: "\e026";
}
.hca-mail:before {
  content: "\e027";
}
.hca-mail-multiple:before {
  content: "\e028";
}
.hca-mail-open:before {
  content: "\e029";
}
.hca-mail-open-text:before {
  content: "\e02a";
}
.hca-male:before {
  content: "\e02b";
}
.hca-map:before {
  content: "\e02c";
}
.hca-megaphone:before {
  content: "\e02d";
}
.hca-message:before {
  content: "\e02e";
}
.hca-message-multiple:before {
  content: "\e02f";
}
.hca-message-txt:before {
  content: "\e030";
}
.hca-microphone:before {
  content: "\e031";
}
.hca-microphone-old:before {
  content: "\e032";
}
.hca-mixer-alt:before {
  content: "\e033";
}
.hca-money:before {
  content: "\e034";
}
.hca-mouse:before {
  content: "\e035";
}
.hca-mute:before {
  content: "\e036";
}
.hca-naira:before {
  content: "\e037";
}
.hca-note-multiple:before {
  content: "\e038";
}
.hca-note-single:before {
  content: "\e039";
}
.hca-notebook:before {
  content: "\e03a";
}
.hca-notebook-pen:before {
  content: "\e03b";
}
.hca-notebook-pencil:before {
  content: "\e03c";
}
.hca-paperplane:before {
  content: "\e03d";
}
.hca-pause-button:before {
  content: "\e03e";
}
.hca-pencil-ruler:before {
  content: "\e03f";
}
.hca-pencil-ruler-pen:before {
  content: "\e040";
}
.hca-pesos:before {
  content: "\e041";
}
.hca-photo:before {
  content: "\e042";
}
.hca-picture:before {
  content: "\e043";
}
.hca-picture-multiple:before {
  content: "\e044";
}
.hca-pin:before {
  content: "\e045";
}
.hca-pin-alt:before {
  content: "\e046";
}
.hca-play-button:before {
  content: "\e047";
}
.hca-playlist:before {
  content: "\e048";
}
.hca-postcard:before {
  content: "\e049";
}
.hca-postcard-multiple:before {
  content: "\e04a";
}
.hca-pound:before {
  content: "\e04b";
}
.hca-printer:before {
  content: "\e04c";
}
.hca-question:before {
  content: "\e04d";
}
.hca-radio-ghettoblaster:before {
  content: "\e04e";
}
.hca-radio-portable:before {
  content: "\e04f";
}
.hca-receipt:before {
  content: "\e050";
}
.hca-receipt-bath:before {
  content: "\e051";
}
.hca-receipt-cent:before {
  content: "\e052";
}
.hca-receipt-dollar:before {
  content: "\e053";
}
.hca-receipt-euro:before {
  content: "\e054";
}
.hca-receipt-franc:before {
  content: "\e055";
}
.hca-receipt-guarani:before {
  content: "\e056";
}
.hca-receipt-kips:before {
  content: "\e057";
}
.hca-receipt-lira:before {
  content: "\e058";
}
.hca-receipt-naira:before {
  content: "\e059";
}
.hca-receipt-pesos:before {
  content: "\e05a";
}
.hca-receipt-pound:before {
  content: "\e05b";
}
.hca-receipt-rublo:before {
  content: "\e05c";
}
.hca-receipt-rupee:before {
  content: "\e05d";
}
.hca-receipt-tugrik:before {
  content: "\e05e";
}
.hca-receipt-won:before {
  content: "\e05f";
}
.hca-receipt-yen:before {
  content: "\e060";
}
.hca-receipt-yen-alt:before {
  content: "\e061";
}
.hca-recept-colon:before {
  content: "\e062";
}
.hca-record:before {
  content: "\e063";
}
.hca-recordplayer:before {
  content: "\e064";
}
.hca-repeat-button:before {
  content: "\e065";
}
.hca-rewind-button:before {
  content: "\e066";
}
.hca-rss:before {
  content: "\e067";
}
.hca-rublo:before {
  content: "\e068";
}
.hca-rupee:before {
  content: "\e069";
}
.hca-safe:before {
  content: "\e06a";
}
.hca-sale:before {
  content: "\e06b";
}
.hca-sales:before {
  content: "\e06c";
}
.hca-server:before {
  content: "\e06d";
}
.hca-server-alt:before {
  content: "\e06e";
}
.hca-server-cloud:before {
  content: "\e06f";
}
.hca-server-download:before {
  content: "\e070";
}
.hca-server-upload:before {
  content: "\e071";
}
.hca-settings:before {
  content: "\e072";
}
.hca-share:before {
  content: "\e073";
}
.hca-sheet:before {
  content: "\e074";
}
.hca-sheet-multiple:before {
  content: "\e075";
}
.hca-sheet-pen:before {
  content: "\e076";
}
.hca-sheet-pencil:before {
  content: "\e077";
}
.hca-shuffle-button:before {
  content: "\e078";
}
.hca-signs:before {
  content: "\e079";
}
.hca-smartphone:before {
  content: "\e07a";
}
.hca-spades:before {
  content: "\e07b";
}
.hca-spread:before {
  content: "\e07c";
}
.hca-spread-bookmark:before {
  content: "\e07d";
}
.hca-spread-text:before {
  content: "\e07e";
}
.hca-spread-text-bookmark:before {
  content: "\e07f";
}
.hca-star:before {
  content: "\e080";
}
.hca-stop-button:before {
  content: "\e081";
}
.hca-tablet:before {
  content: "\e082";
}
.hca-tape:before {
  content: "\e083";
}
.hca-target:before {
  content: "\e084";
}
.hca-ticket:before {
  content: "\e085";
}
.hca-todo:before {
  content: "\e086";
}
.hca-todo-pen:before {
  content: "\e087";
}
.hca-todo-pencil:before {
  content: "\e088";
}
.hca-todo-txt:before {
  content: "\e089";
}
.hca-todolist-pen:before {
  content: "\e08a";
}
.hca-todolist-pencil:before {
  content: "\e08b";
}
.hca-trashcan:before {
  content: "\e08c";
}
.hca-trashcan-full:before {
  content: "\e08d";
}
.hca-trashcan-refresh:before {
  content: "\e08e";
}
.hca-trashcan-remove:before {
  content: "\e08f";
}
.hca-tugriks:before {
  content: "\e090";
}
.hca-upload:before {
  content: "\e091";
}
.hca-usb:before {
  content: "\e092";
}
.hca-video:before {
  content: "\e093";
}
.hca-volume-down:before {
  content: "\e094";
}
.hca-wallet:before {
  content: "\e095";
}
.hca-watch:before {
  content: "\e096";
}
.hca-webpage:before {
  content: "\e097";
}
.hca-webpage-img-txt:before {
  content: "\e098";
}
.hca-webpage-multiple:before {
  content: "\e099";
}
.hca-webpage-txt:before {
  content: "\e09a";
}
.hca-won:before {
  content: "\e09b";
}
.hca-world:before {
  content: "\e09c";
}
.hca-yen:before {
  content: "\e09d";
}
.hca-yen-alt:before {
  content: "\e09e";
}
.hca-layout:before {
  content: "\67";
}
.hca-layout-sidebar-right:before {
  content: "\68";
}
.hca-layout-2columns:before {
  content: "\69";
}
.hca-layout-3columns:before {
  content: "\6a";
}
.hca-layout-4boxes:before {
  content: "\e09f";
}
.hca-layout-4columns:before {
  content: "\e0a0";
}
.hca-layout-4lines:before {
  content: "\e0a1";
}
.hca-layout-8boxes:before {
  content: "\e0a2";
}
.hca-layout-header:before {
  content: "\e0a3";
}
.hca-layout-header-2columns:before {
  content: "\e0a4";
}
.hca-layout-header-3columns:before {
  content: "\e0a5";
}
.hca-layout-header-4boxes:before {
  content: "\e0a6";
}
.hca-layout-header-4columns:before {
  content: "\e0a7";
}
.hca-layout-header-complex:before {
  content: "\e0a8";
}
.hca-layout-header-complex2:before {
  content: "\e0a9";
}
.hca-layout-header-complex3:before {
  content: "\e0aa";
}
.hca-layout-header-complex4:before {
  content: "\e0ab";
}
.hca-layout-header-sideleft:before {
  content: "\e0ac";
}
.hca-layout-header-sideright:before {
  content: "\e0ad";
}
.hca-layout-sidebar-left:before {
  content: "\e0ae";
}
.hca-paintbrush:before {
  content: "\e0af";
}
.hca-paintroller:before {
  content: "\e0b0";
}
